:root {
    --board-outer-size: 8px;
    --board-square-line-size: 2.5px;
    --board-line-size: 1px;
    /* --theme-color-1: rgb(52, 196, 124); */
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    overflow: hidden;
}

.button {
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    user-select: none;
    color: white;
    transition: 0.2s ease;
    border: 3px solid black;
}

.button:hover {
    transform: translateY(-4px);
    box-shadow: 5px 8px rgb(60, 60, 60);
    background: linear-gradient(-30deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.button:active {
    transform: translateY(0px);
    box-shadow: 5px 5px rgb(60, 60, 60);
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#ui {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#solve {
    background-color: rgb(52, 196, 124);
}

#step {
    background-color: rgb(106, 154, 170);
}

#reset {
    background-color: rgb(255, 42, 42);
}

.display {
    width: 300px;
    border: 5px solid gray;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

#board {
    display: flex;
    flex-direction: column;
    border: var(--board-outer-size) solid black;
    width: 500px;
    height: 500px;
    background-color: rgb(241, 241, 241);
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.col:nth-child(3),
.col:nth-child(6) {
    border-right: var(--board-square-line-size) solid black;
}

.col:nth-child(4),
.col:nth-child(7) {
    border-left: var(--board-square-line-size) solid black;
}

.row:nth-child(3),
.row:nth-child(6) {
    .col {
        border-bottom: var(--board-square-line-size) solid black;
    }
}

.row:nth-child(4),
.row:nth-child(7) {
    .col {
        border-top: var(--board-square-line-size) solid black;
    }
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--board-line-size) - var(--board-line-size));
    height: calc(100% - var(--board-line-size) - var(--board-line-size));
    border: var(--board-line-size) solid rgb(0, 0, 0);
    font-size: 35px;
}

.selected {
    background-color: rgb(224, 143, 50);
    background-size: cover;
    background-origin: border-box;
}

#version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}